<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class="card" style="background: #FFFFFF">
          <div class=" card-header">
            <h4 class=" card-title" style="color: #333333 ; font-family: Bold; font-size: 24px">Ajouter nouvelle arret </h4>
          </div>
          <hr>
          <div class=" card-body">
            <div class="container">
                <form [formGroup]="arretForm" (ngSubmit)="addArret()" >
                  <div class="form-group">
                    <input  [ngClass]="{
                      'is-invalid':
                      nom_arret.invalid &&
                        (nom_arret.dirty || nom_arret.touched)
                    }" 
                     class="form-control input-lg" type="text" style="color: black;     width: 409px;
                    margin-left: 218px;"  placeholder="Nom arret"
                                        formControlName="nom_arret"
                     />
                  </div>
                  <div class="invalid-feedback" role="alert" *ngIf="
                  nom_arret.invalid &&
                  (nom_arret.dirty || nom_arret.touched)
                ">
                <span class="spanEroor" *ngIf="nom_arret.errors?.['required']">nom_arret obligatoire</span>
              </div>
              
                  <div class="form-group">
                    <input class="form-control input-lg" type="text" style="color: black;     width: 409px;
                    margin-left: 218px;"  placeholder="Longitude"
                                        formControlName="longitude"
                     />
                  </div>
                  <div class="form-group">
                    <input class="form-control input-lg" type="text" style="color: black;     width: 409px;
                    margin-left: 218px;"  placeholder="Latitude"
                                        formControlName="Latitude"
                     />
                  </div>
                  <div *ngIf="showMsgAddLigne" class="alert alert-success" role="alert"
                  style="        margin-top: 10px;
                  background-color: darkseagreen;
                  height: 31px;
                  width: 403px;
                  margin-left: 221px;">
              <p style="text-align: center ; margin-top: -8px;"> Arret ajouter</p>  
                </div>
                <div *ngIf="errorMessage.show" class="alert alert-danger" role="alert"
                style="margin-top: 10px;
                background-color: rgb(202, 137, 126);
                height: 43px;
                width: 404px;
                margin-left: 221px;">
             <p style="color: #FFFFFF ; margin-left: -7px; text-align: center; ">
              {{errorMessage.msg}}
            </p>
           
              </div>
                  <div class="form-group">
                    <input type="submit"  class="btn btn-success btn-lg" style="margin-left: 329px;                    " value="Ajouter" />
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  