<div id="service" class="page3">
    <div class="container">
      <div class="d-flex flex-column my-flex-container-column">
        <div class="p-2 my-flex-item">
          <h2 class="choose_text1">Pourquoi Malabus ?</h2>
          <p class="lorem_text6">Caractéristique de l’application</p>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <img src="assets/images/Groupe 35715.png" class="imggg" />
          </div>
          <div class="col-md-6 col-sm-6">
            <table class="center">
              <tr>
                <td>
                  <img src="assets/images/Groupe 35716.png" class="imgcar" />
                </td>
                <td>
                  <div class="web_text1">Facile à utiliser</div>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/Groupe 35717.png" class="imgcar" />
                </td>
                <td>
                  <div class="web_text1">
                    Vos données sont toujours en sécurité
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/Groupe 35718.png" class="imgcar" />
                </td>
                <td>
                  <div class="web_text1">
                    Une application conçue pour tout le monde (Andorid/IOS)
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="assets/images/Groupe 35719.png" class="imgcar" />
                </td>
                <td>
                  <div class="web_text1">Assistance 24/7</div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>