
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <div class="fadeIn first mt-4">
          <a href="">
            <img src="../../assets/images/malabus.png"  alt="">

          </a>
     </div>
      <!-- Icon -->
      <div class="fadeIn first">
         <h3>Changer Mot de passe
        </h3>
      </div>
   
      <!-- Reset form -->
      <form
      name="form"
      (ngSubmit)="f.form.valid && resetPassword()"
      ngForm
      #f="ngForm"
      >
   
      
  <div class="col-auto">
    <div class="input-group rest">
      <div
        class="input-group-text"
        style="background-color: rgb(228, 220, 220)"
      >
        <a (click)="showHidePassword()">
          <i class="bi bi-eye"></i>
        </a>
      </div>
      <input
        [type]="showPassword ? 'text' : 'password'"
        name="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        class="form-control"
        id="autoSizingInputGroup"
        placeholder="Saisir votre mot de passe"
      />
    </div>
  </div>
  <br>
<div class="input-group rest">
  <input type="password"  class="form-control" 
  name="confirmPass"
  [(ngModel)]="form.confirmPass"
  #email="ngModel"
  placeholder="Confirmee le nouveau mot de passe">
</div>
<br>
<div  *ngIf="showMsg" class="alert alert-success" role="alert" style=" width: 308px; margin-left: 68px">
  Votre mot de passe a été modifié
  <a routerLink="/" style="color: blue;"> Connecter</a>
</div>
<div *ngIf="errorMessage.show" class="alert alert-danger" role="alert" style=" width: 308px; margin-left: 68px">
  {{errorMessage.msg}}
</div>
        <button style="margin-left: 0%;"  class="btn btn-primary btn-block mb-4 btn-login">Changer</button>
     
      </form>
      <!-- Remind Passowrd -->
      <div id="formFooter">
      </div>
  
    </div>
  </div>
