<body>
  <div class=" content" style="    margin-left: 64px;
">
    <div class=" row">
        <div class="card"  style="background: #ffffff ;     height: 640px;      ">
          <div class=" card-header" style="    margin-top: 23px;          ">
            <h4 class=" card-title" style="color: #333333 ; font-family: Bold; font-size: 24px">Chart Vente </h4>
          </div>
          <div class="card-body">
           <div class="container">
            <div width="200" height="200" style="margin-top: -20px;">
              <canvas id="canvas">{{chart}}</canvas>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</body>